.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.errorText {
  color: red;
  font-size: 14px;
}

.submitButton {
  width: 100%;
  padding: 10px;
  background-color: #4caf50; /* Зелений */
  color: white;
  border: none;
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 16px;
}

.submitButton:disabled {
  background-color: #a5d6a7;
  cursor: not-allowed;
}

.registerButton {
  width: 100%;
  padding: 10px;
  background-color: #2196f3; /* Синій */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
