name: CD Deploy

# тільки після пуша у мейн
on:
  push:
    branches: ['main']

jobs:
  deploy:
    name: Deploy to Production
    runs-on: ubuntu-latest

    steps:
      - name: Trigger Render Deploy
        if: ${{ secrets.RENDER_DEPLOY_HOOK }}
        run: curl -X POST ${{ secrets.RENDER_DEPLOY_HOOK }}

      - name: Trigger Vercel Deploy
        if: ${{ secrets.VERCEL_DEPLOY_HOOK }}
        run: curl -X POST ${{ secrets.VERCEL_DEPLOY_HOOK }  }
